
#animatedtext{
height: 280px;
overflow: hidden; 
}

#animatedtext li {
  position: relative;
  top:0;
  animation: slide 4s steps(3) infinite;
 
}

@keyframes slide {
  100% {
    top: -360px;
  
    /* margin: 0px 50px 0px 50px; */
  }
  
}

#animatedtext li span{
  position: relative;
  height: 280px;
  overflow: hidden;
}


#animatedtext li span::after {
  content:"";
  position: absolute;
  height:100%;
  width: 120%;
  left:0;
  background-color:#F2F2F2;
  border-left: 5px solid #343434;
  animation: typing 2s steps(13) infinite;
 
}

@keyframes typing {
  100% {
    left:120%;
  
    /* margin: 0px 50px 0px 50px; */
  }
  
}


